{% extends 'base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
{% endblock style %}

{% block content %}
<div class="mainBody">
    {% include 'partials/sidebar.html' %}

    <!-- Video Section Starts -->
    <div class="videos">
        <div>
        </div>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="upload-content">
                <div class="left-video">
                    <h4>Подробности</h4>
                    <div class="error">
                        <strong>{{ form.errors }}</strong>
                    </div>
                    <div class="input-div">
                        <span>Заголовок (обязательно)<span id="count"></span> </span><br>
                            {{ form.title }}
                        <div class="error-div" id="error-div"></div>
                    </div>
                    <script>
                        
                    </script>
                    <div class="desc-div">
                        <span>Описание (обязательно)<span id="desc-count"></span> </span> <br>
                            {{ form.description }}
                    </div>
                    <div class="tags-div">
                        <span>Теги (опционально)</span> <br>
                            {{ form.tags }}
                        <p>Укажите теги через запятую</p>
                    </div>

                    <div class="video-div file-input" id="file-input">
                        <small>Превью (обязательно)</small> <br>
                            {{ form.image }}
                        <span class='button'><i class="material-icons">image</i></span>
                        <span class='label' data-js-label>Фото не выбрано</span><br>
                        <img src="{{ video.image.url }}" style="width: 100%;" alt="">
                    </div>
                    <div class="video-div file-input">
                        <small>Видео (обязательно)</small> <br>
                            {{ form.video }}
                        <span class='button'><i class="material-icons">videocam</i></span>
                        <span class='label' data-js-label>Видео не выбрано</span>
                    </div>
                        {% if video.video.url %}
                    <div class="video-div file-input">
                        <span>
                            <small style="color: black;">Существующие видео</small>
                        </span>
                        <video style="width: 100%;" controls>
                            <source style="width: 100%;" type="video/mp4" src="{{ video.video.url }}">
                        </video>
                    </div>
                        {% endif %}
                    <div class="video-div file-input">
                        <small>Видимость (обязательно)</small> <br>
                            {{ form.visibility }}
                    </div>
                    <div class="upload-btn-div">
                        <button type="submit" class="upload-btn">Загрузить видео</button>
                    </div>
                </div>
                <div class="right-video">
                    <div class="r-thumb">
                        <div class="uploading-video">
                            <h5>Загрузка видео...</h5>
                        </div>
                        <div class="video-details">
                            <h5>Ссылка на видео</h5>
                            <a href="">this is link</a>
                            <h4>Имя файла</h4>
                            <span >Здесь видеофайл</span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}